@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

html {
  /* --background: white;
  --color: black;
  --cursor: yellow; */

  --background: #111;
  --color: #eee;
  --cursor: #333;

  font-family: "Roboto Slab", "serif";
  background: var(--background);
  color: var(--color);
}

/* layout */

body {
  font-size: larger;
  height: 100vh;
  margin: 0;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper > * {
  --side-space: 1rem;
  --double-side-space: calc(var(--side-space) * 2);
  --max-width: calc(100% - var(--double-side-space));
  width: min(65ch, var(--max-width));
}

.prompt {
  margin-bottom: 1rem;
}

/* game */

.typed {
  transition: opacity 200ms;
  opacity: 0.2;
}

.cursor {
  background-color: var(--cursor);
  border-radius: 2px;
}

.text {
  transition: opacity 200ms, filter 200ms;
}

[data-mode="LOST"] .text {
  transition: opacity 500ms, filter 500ms;
  opacity: 0.8;
  filter: blur(1px);
}
