@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

html {
  font-family: "Roboto Slab", "serif";
  font-size: 2rem;
}

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
}

.wrapper > * {
  grid-column: 2;
}

.text {
  margin-top: 50vh;
}

.typed {
  transition: opacity 200ms;
  opacity: .2;
}

.cursor {
  /* text-decoration: underline double hotpink; */
  background-color: yellow;
  border-radius: 2px;
}