@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

html {
  font-family: "Roboto Slab", "serif";
}

/* layout */

body {
  font-size: larger;
  height: 100vh;
  margin: 0;
}

.wrapper {
  height: 100%;
  display: grid;
  place-items: center;
}

.wrapper > * {
  --gutter: 1rem;
  --double-gutter: calc(var(--gutter) * 2);
  --max-width: calc(100% - var(--double-gutter));
  width: min(65ch, var(--max-width));
}

.prompt {
  margin-bottom: 1rem;
}

/* game */

.typed {
  transition: opacity 200ms;
  opacity: 0.2;
}

.cursor {
  background-color: yellow;
  border-radius: 2px;
}

.text {
  transition: opacity 200ms, filter 200ms;
}

[data-mode="LOST"] .text {
  transition: opacity 500ms, filter 500ms;
  opacity: 0.8;
  filter: blur(1px);
}
