@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

html {
  font-family: system-ui;
  --spacing: 0.3rem;
  color-scheme: dark;
}

* {
  margin: 0;
}

#app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#app > * {
  --gutter: 1rem;
  --double-gutter: calc(var(--gutter) * 2);
  --max-width: calc(100% - var(--double-gutter));
  width: min(65ch, var(--max-width));
}

#editor {
  min-width: 100%;
  max-width: 100%;
  min-height: min(50%, 10rem);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing);
}

.row {
  display: flex;
  flex-direction: row;
  gap: var(--spacing);
}

[data-mode="PLAYING"] .cursor,
[data-mode="LOST"] .cursor {
  background-color: canvastext;
  color: canvas;
}

[data-mode="PLAYING"] .cursor.space::before,
[data-mode="LOST"] .cursor.space::before {
  content: "\00a0";
  position: absolute;
  background-color: inherit;
}

.text {
  user-select: none;
  transition: opacity 200ms, filter 200ms;
  font-variant-ligatures: none;
  overflow-wrap: break-word;
}

.typed {
  color: color-mix(in srgb, canvastext 20%, canvas);
}

[data-mode="LOST"] .text {
  filter: blur(1px);
}

progress {
  width: 100%;
  height: 3px;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: canvastext;
}

progress::-moz-progress-bar {
  background-color: canvastext;
}
