@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

html {
  font-family: "Roboto Slab", "serif";
  --spacing: .3rem;
  color-scheme: dark;
}



* {
  margin: 0;
}

#app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#app > * {
  --gutter: 1rem;
  --double-gutter: calc(var(--gutter) * 2);
  --max-width: calc(100% - var(--double-gutter));
  width: min(65ch, var(--max-width));
}

#editor {
  min-width: 100%;
  max-width: 100%;
  min-height: min(50%, 10rem);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing);
}

.row {
  display: flex;
  flex-direction: row;
  gap: var(--spacing);
}


[data-mode="PLAYING"] .cursor,
[data-mode="LOST"] .cursor {
  background-color: canvastext;
  color: canvas;
  border-radius: 2px;
}

[data-mode="PLAYING"] .cursor.space::before,
[data-mode="LOST"] .cursor.space::before {
  content: "\00a0";
  position: absolute;
  background-color: inherit;
  border-radius: inherit;
}

.text {
  user-select: none;
  transition: opacity 200ms, filter 200ms;
  font-variant-ligatures: none;
  overflow-wrap: break-word;
}

.typed {
  transition: opacity 0s;
  opacity: 0.2;
}

[data-mode="LOST"] .text {
  filter: blur(1px);
}
